extends layout
block content
	
	div.forcefull(style="background-image: url('/images/office.jpg'); padding-top: 90px; background-size: cover" )
		div.col-md-12
			h4(style="padding: 12px;  background-color: rgba(255,255,255,0.6)") Welcome to our official website!
				p(style="font-size: 12px; color: gray")
					| Noetico.IT: Solutions for Humans, by Humans
				p
	div.row(style="padding: 30px")
		div.col-md-4
			h6 Professional Services
				hr
				img(src ="/images/startup.jpg" style="width: 100%; height: 80px; object-fit: cover")
				p(style="font-weight: normal; color: gray")
					| From your company website to office software systems and collaboration technologies; Noetico.IT has over 20 years experinec with software and enterprise IT
				p
		div.col-md-4
			h6 Building Great Software
				hr
				img(src ="/images/tools.jpg" style="width: 100%; height: 80px; object-fit: cover")
				p(style="font-weight: normal; color: gray")
					| We craft and deliver custom applications for the web and on-premise. We are experienced with building with different technologies to give you a full experience and optimal delivery
				p
		div.col-md-4
			h6 Enterprise Applications Deployment
				hr
				img(src ="/images/office.jpg" style="width: 100%; height: 80px; object-fit: cover")
				p(style="font-weight: normal; color: gray")
					| We deliver full deployment for advanced and government level ERP systems such as Dynamics, Sharepoint and more.
				p
				
				p
					| 
				p