doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(rel='icon' href='/public/images/favicon.ico')
    title Noetico/BKSystems Official
    link(rel='canonical' href='https://getbootstrap.com/docs/4.0/examples/jumbotron/')
    // Bootstrap core CSS
    link(href='/css/site.css' rel='stylesheet' type="text/css")
    link(href='/css/bootstrap.min.css' rel='stylesheet' type="text/css")
    link(href='/css/fontawesome.min.css' rel='stylesheet' type="text/css")
    // Custom styles for this template
    //link(href='jumbotron.css' rel='stylesheet')
  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='#')
        img(src ="/images/logo.png" height="24px")
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/about') About Us
          li.nav-item
            a.nav-link(href='/solutions') Solutions
         
          li.nav-item
            a.nav-link(href='/contact') Contact
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href='http://example.com' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Corporate Links
            .dropdown-menu(aria-labelledby='dropdown01')
              a.dropdown-item(href='/projects') Projects
              
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    main(role='main')
      // Main jumbotron for a primary marketing message or call to action
      
      block content
    footer.container
      p © Noetico.IT/BKSystems 2022
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='/js/jquery-3.2.1.slim.min.js' )
    script(src='/js/sweetalert.min.js' )
    script.
      window.jQuery || document.write('<script src="/js/jquery-slim.min.js"><\\/script>')
    //- script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
