extends layout
block content
    .row.justify-content-center(style="padding: 60px; background-image: url('/images/office.jpg'); background-repeat: no-repeat; background-size: cover")
        .col-md-4(style="background-color: rgba(255,255,255,0.8); ")
            div(style="padding: 21px")
                h2.page-header Login
                p Please Login to manage your account
                i(style="font-weight: bold", name='validationmsges')= msges
                form(method='post', action='/login')
                     
                     
                     label.pure-material-textfield-standard(style="display: block")  
                         input(name='UserName', type='text', placeholder=" ")
                         span Username/Email

                     
                     label.pure-material-textfield-standard(style="display: block")  
                         input.form-control(name='Password', type='password', placeholder=" ")
                         span Password
                     
                     hr
                     input.btn.btn-dark(type='submit', name='submit', value='Login')
        .col-md-8
        