extends layout
block content
    .row.justify-content-center(style="padding: 60px;  background-image: url('/images/office.jpg'); background-repeat: no-repeat; background-size: cover")
        .col-md-4(style="background-color: rgba(255,255,255,0.8); ")
            div(style="padding: 21px")
                h3.page-header Register
                i(style="font-weight: bold; color: red")= msges
                
                
                
                form(method='post', action="/register")
                     
                     
                     label.pure-material-textfield-standard(style="display: block") 
                             input(name='username', type='text', placeholder=" ")
                             span Email
                     
                     label.pure-material-textfield-standard(style="display: block") 
                              input(name='password', type='password', placeholder=" ")
                              span Password
                     label.pure-material-textfield-standard(style="display: block") 
                              input(name='confirmpassword', type='password', placeholder=" ")
                              span Confirm Password
                     //- .form-group
                     //- label Profile Image
                     //- input.form-control(name='profileimage', type='file')
                     hr
                     input.btn.btn-dark(type='submit', name='submit', value='Register')
        .col-md-8